<!DOCTYPE html>
<html lang="ru">
<head>
    {{> head }}
</head>
<body>

    <nav class="nav__mobile" id="navMobile">
        <ul class="nav__list">
            <li class="nav__item">
                <a class="nav__link" href="#about">About us</a>
            </li>
            <li class="nav__item">
                <a class="nav__link" href="#content">NFTs</a>
            </li>
            <li class="nav__item">
                <a class="nav__link" href="#footer">Contact</a>
            </li>
        </ul> <!-- /.nav__list -->
    </nav>

    {{> header }}

    <main class="main">
        {{> body }}
    </main>

    {{> footer }}

    <script src="assets/js/app.js"></script>
</body>
</html>
