$white:             #ffffff;
$black:             #000000;
$aquamarine:        #82cbac;
$dark-grey:         #2f2f2f;

$monitor1440-bp: 1440px;
$notebook_m-bp: 1250px;
$notebook-bp: 1024px;
$tablet-bp: 768px;
$mobile-bp: 425px;